//!General Classes
.hidden {
  display: none;
}

//!Keyframes
@keyframes slideup {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes slidedown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes slideleft {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    transform: translateX(0px);
  }
}

//!App Global
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

html {
  font-size: 62.5%;
  color: rgb(61, 61, 61);
}

h1 {
  font-size: 3rem;
  font-weight: 600;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
}

h3 {
  font-size: 1.3rem;
  font-weight: 600;
}

p {
  font-size: 1.3rem;
  font-weight: 400;
}

body {
  background-color: rgb(245, 245, 245);
}

//!App Sections
.section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5rem 0;
}

.section-icon {
  display: flex;
  font-size: 1.5rem;
  color: white;
  background-color: rgb(61, 61, 61);
  padding: 1.5rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.section-heading-icon {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  width: 90%;
}

.section-heading {
  text-align: center;
  margin: auto 0;
}

//!App Error & Success Messages
.errorMessage {
  background-color: rgba(189, 0, 0, 0.13);
  padding: 1.3rem;
  text-align: center;
  border-radius: 0.5rem;
  margin: 2rem 0rem;
  color: rgb(59, 16, 16);
}

.successMessage {
  background-color: rgba(22, 189, 0, 0.13);
  padding: 1.3rem;
  text-align: center;
  border-radius: 0.5rem;
  margin: 2rem 0rem;
  color: rgb(23, 59, 16);
}

//!Sorting Bar & Search Bar
.notes-control-bar {
  display: flex;
  justify-content: space-between;
  width: 80vw;
  max-width: 800px;
  margin: 3rem 0;
}

.notes-sorting-bar {
  position: relative;
  background-color: white;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  width: 165px;

  font-size: 1.3rem;
  font-weight: 400;
  color: rgb(61, 61, 61);

  border-radius: 1.5rem;

  box-shadow: rgba(100, 100, 111, 0.01) 0px 7px 15px 0px;

  span {
    font-size: 1.5rem;
    margin-right: 0.3rem;
    transform: translateY(2px);

    opacity: 0.65;
  }

  label {
    margin-right: 0.5rem;
    opacity: 0.65;
  }

  select {
    cursor: pointer;
    background-color: transparent;
    border: none;
    right: 1rem;
    width: 83%;
    padding-right: 3px;
    font-weight: 600;
    color: rgb(61, 61, 61);

    position: absolute;

    text-align: right;
    transform: translateY(-1px);

    &:focus {
      outline: none;
    }
  }
}

.notes-search-bar {
  position: relative;
  background-color: white;
  padding: 1.5rem 2.3rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  width: calc(100% - 200px);

  font-size: 1.3rem;
  font-weight: 400;
  color: rgb(61, 61, 61);

  border-radius: 1.5rem;

  box-shadow: rgba(100, 100, 111, 0.01) 0px 7px 15px 0px;

  input {
    width: 100%;
    transition: 0.3s ease-in-out;
    border: none;

    font-size: 1.3rem;
    font-weight: 400;

    outline: none;
  }

  span {
    font-size: 1.5rem;
    margin-left: 1rem;

    opacity: 0.65;

    transform: translateY(1px);
  }
}
